:root {
  --inline_background: rgb(228, 231, 240); /*dark-grey*/
  --inline_default: rgb(49, 63, 78); /*dark-grey*/
  --python_background: rgb(43, 43, 43); /*dark-grey*/
  --python_output_background: rgb(214, 217, 220); /*lighter-grey*/
  --python_default: rgb(169, 183, 198); /*grey*/
  --python_output_default: rgb(69, 83, 98); /*grey*/
  --python_constant: rgb(204, 120, 50); /*orange*/
  --python_string: rgb(106, 135, 89); /*green*/
  --python_inbuilt: rgb(136, 136, 198); /*blue*/
  --python_function: rgb(255, 198, 109); /*yellow*/
  --python_argument: rgb(170, 73, 38); /*red*/
  --python_comment: rgb(114, 115, 122); /*darkish-grey*/
  --python_numeric: rgb(104, 151, 198); /*light-blue*/
  --python_output_numeric: rgb(29, 76, 123); /*light-blue*/
}

pre {
    margin: 0.5em 1em 1em 1em;
    padding: 0.5em 1em 1.5em 1em;
    overflow-x: auto;
    box-shadow: 0 0 2px rgb(1, 1, 1);
    border-radius: 1px;
}

pre.python {
    background-color: var(--python_background);
}

pre.python.output {
    background-color: var(--python_output_background);
}

code {
    z-index: -1;
}

code.python > span.default {
    color: var(--python_default);
}

samp.python > code.python > span.default {
    color: var(--python_output_default);
}

code.python > span.constant {
    color: var(--python_constant);
}

code.python > span.string {
    color: var(--python_string);
}

code.python > span.inbuilt {
    color: var(--python_inbuilt);
}

code.python > span.function {
    color: var(--python_function);
}

code.python > span.argument {
    color: var(--python_argument);
}

code.python > span.comment {
    color: var(--python_comment);
}

code.python > span.numeric {
    color: var(--python_numeric);
}

samp.python > code.python > span.numeric {
    color: var(--python_output_numeric);
}

pre::-webkit-scrollbar {
    height: 5px;
    border: 1px solid #d5d5d5;
    background: rgba(255, 255, 255, 0.8);
}

pre::-webkit-scrollbar-thumb {
  background: rgb(125, 125, 125);
}

pre::-webkit-scrollbar-button {
    background-color: rgba(255, 255, 255, 0.8);
    height: 5px;
    width: 5px;
    -webkit-box-shadow: inset 0px 0px 2px rgba(1, 1, 1, 0.8);
}

code.inline {
    background-color: var(--inline_background);
    color: var(--inline_default);
    padding: 2px;
    border-radius: 5px;
}

@media screen and (min-width: 200px) {
    code.python {
        font-family: "consolas";
        font-size: 12px;
        letter-spacing: 0.025em;
    }
}

@media screen and (min-width: 600px) {
    code.python {
        font-family: "consolas";
        font-size: 16px;
    }
}

p {
    position: relative;
    z-index: 1;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}
