div.nav-box {
    min-width: 50px;
    min-height: 50px;
    display: grid;
    align-items: center;
    justify-items: start;
    user-select: none;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    background-color: rgb(174, 189, 245);
    border-radius: 2px;
    z-index: 999;
}

@-webkit-keyframes shadow-animation {
    00.00%  {box-shadow: 0px 0px 5px navy;}
    25.00%  {box-shadow: 0px 0px 5px blue;}
    35.00%  {box-shadow: 0px 0px 5px mediumblue;}
    55.00%  {box-shadow: 0px 0px 5px dodgerblue;}
    65.00%  {box-shadow: 0px 0px 5px mediumblue;}
    75.00%  {box-shadow: 0px 0px 5px blue;}
    100.0%  {box-shadow: 0px 0px 5px navy;}
}

@keyframes shadow-animation {
    00.00%  {box-shadow: 0px 0px 5px navy;}
    25.00%  {box-shadow: 0px 0px 5px blue;}
    35.00%  {box-shadow: 0px 0px 5px mediumblue;}
    55.00%  {box-shadow: 0px 0px 5px dodgerblue;}
    65.00%  {box-shadow: 0px 0px 5px mediumblue;}
    75.00%  {box-shadow: 0px 0px 5px blue;}
    100.0%  {box-shadow: 0px 0px 5px navy;}
}

div.nav-container, div.nav-placeholder {
    transition: opacity 0.05s linear 0.95s;
}

div.nav-placeholder {
    color: rgb(45, 45, 45);
    display: none;
}

div.nav-box > div.nav-container {
    display: grid;
    margin-left: 1.5em;
    padding: 0.5em;
}

div.nav-box > div.nav-container > nav > ul {
    list-style: disc;
}

div.nav-box > div.nav-container > nav > ul > li > a {
    color: rgb(45, 45, 45);
    text-decoration: none;
    transition: 0.5s;
}

div.nav-box > div.nav-container > nav > ul > li > a:hover {
    color: rgb(74, 108, 237);
    text-decoration: none;
}

div.nav-box > div.nav-current {
    display: none;
}
