* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

aside, main {
    grid-column: 2/3;
}

header, footer {
    grid-column: 1/4;
}

aside.nav-box-aside {
}

.nav-box {
    min-width: 50px;
    min-height: 50px;
    display: grid;
    align-items: center;
    justify-items: start;
    user-select: none;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

@-webkit-keyframes shadow-animation {
    00.00%  {box-shadow: 0px 0px 5px navy;}
    25.00%  {box-shadow: 0px 0px 5px blue;}
    35.00%  {box-shadow: 0px 0px 5px mediumblue;}
    55.00%  {box-shadow: 0px 0px 5px dodgerblue;}
    65.00%  {box-shadow: 0px 0px 5px mediumblue;}
    75.00%  {box-shadow: 0px 0px 5px blue;}
    100.0%  {box-shadow: 0px 0px 5px navy;}
}

@keyframes shadow-animation {
    00.00%  {box-shadow: 0px 0px 5px navy;}
    25.00%  {box-shadow: 0px 0px 5px blue;}
    35.00%  {box-shadow: 0px 0px 5px mediumblue;}
    55.00%  {box-shadow: 0px 0px 5px dodgerblue;}
    65.00%  {box-shadow: 0px 0px 5px mediumblue;}
    75.00%  {box-shadow: 0px 0px 5px blue;}
    100.0%  {box-shadow: 0px 0px 5px navy;}
}

.nav-container, .nav-placeholder {
    transition: opacity 0.05s linear 0.95s;
}

.nav-placeholder {
    color: rgb(45, 45, 45);
    display: none;
}

.nav-box > div.nav-container {
    display: grid;
    margin-left: 1.5em;
    padding: 0.5em;
}

.nav-box > div.nav-container > nav > ul {
    list-style: disc;
}

.nav-box > div.nav-container > nav > ul > li > a {
    color: rgb(45, 45, 45);
    text-decoration: none;
}

.nav-box > div.nav-current {
    display: none;
}
